.choice-container{
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background: rgb(0, 0, 0);
    border-radius: 7rem;
}

#question{
    text-align: $text;
    font-size: 3.2rem;
    color: white;
}
    

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(34, 56, 66, 0.5);
    transform: translateY(-0.1rem);
    transition: 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 10rem;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
    color: white;
}

.correct{
    background: #28a745;
    color: white;
}

.incorrect{
    background: #dc3545;
    color: white;
}

/* HUD */

#hud{
    @include flex(center, space-around);
.hud-prefix{
    text-align: $text;
    font-size: 2rem;
}

#hud-item{
    text-align: $text;
    color: white;
    font-size: 2rem;
    #progressBar{
        margin-top: 1rem;
        margin-bottom: 5.8rem;
        width: 20rem;
        height: 4rem;
        border: 0.3rem solid $color;
    }
    
    #progressBarFull{
        height: 3.4rem;
        background: $color;
        width: 0%;
    }
}
        
.hud-main-text{
    text-align: $text;
}



/* LOADER */

#loader{
    border: 1.6rem solid transparent;
    border-radius: 50%;
    border-top: 1.5rem solid rgba(216, 125, 219, 0.6);
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
    z-index: 100;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
}